fastapi==0.115.11
uvicorn==0.34.0
python-dotenv==1.0.1
llama-index==0.12.22
llama-index-embeddings-huggingface==0.5.2
llama-index-vector-stores-chroma==0.4.1
chromadb==0.6.3
nltk==3.9.1
transformers==4.49.0
google-cloud-bigquery==3.30.0
google-cloud-storage==3.1.0
gunicorn==23.0.0
protobuf==3.20.*
openai==1.77.0
python-multipart
google-cloud-spanner==3.54.0
python-multipart==0.0.20
#google-api-core==2.24.2
google-api-core
google-auth==2.39.0
google-cloud-documentai==3.4.0
googleapis-common-protos==1.70.0
PyPDF2==3.0.1
SQLAlchemy==2.0.40
sqlalchemy-spanner==1.11.0
google-cloud-spanner==3.54.0
pytesseract
langchain_groq
streamlit
langchain_community
langchain
fastapi
uvicorn
python-dotenv
pydantic
langchain-community
langchain-groq
chromadb
sentence-transformers